
$arrowSize = 24px
$conWidth = 450px
minus(a)
    a / 1.05

.con
    position absolute
    top: $headerImgOffset
    left $floatBoxMargin
    height $leftHeight
    width: $conWidth
    // overflow hidden
    transition: left .2s linear
    z-index $leftBoxIndex
    padding: $primaryPadding
    
    background:linear-gradient(180deg,$linearBgTop,$linearBgMiddle,$linearBgBottom);
    box-shadow:$primaryBoxShadow;
    border-radius:2px 2px 0px 12px;
    border:1px solid rgba(51,183,255,1);
    .arrow
        position absolute
        right -30px
        top: 45%
        bottom: 0
        height 50px
        width: 30px
        text-align: center
        color $primaryColor
        line-height: 50px
        background rgba(0,72,240,0.6)
        border-radius:0 10% 10% 0;
        box-shadow:$primaryBoxShadow;
    .atmosphere
        position absolute
        top: 5%
        right -350px
        width:300px;
        height:170px;
        padding: $primaryPadding 1.5rem
        background-size: contain 
        background: no-repeat
        background-image: url('~@src/assets/atmosphere.png')
        .top
            line-height: 24px
            .day
                padding: 0 1rem
        .middle
            height: 56px;
            margin: 10px 0;
            .bar
                width:1px;
                height:20px;
                background: #999999
                margin: 0 1rem
            .real-degree
                padding-right: .5rem
                align-self start
                color $warning
        .range
            margin-left: 70px
        .bottom
            line-height:  36px;
    .left-menu
        height minus($leftHeight)
        border-right: 1px solid $primaryColor
        font-size: 16px
        text-align: center
        color: $primaryFontColor
        .item
            margin: 30px 0
            cursor pointer
        .item-active
            color: $primaryColor
        i 
          font-size: 32px
    .right-content
        align-self: flex-start  
        padding-left: 10px  
.con-hide
    left negative($conWidth)
    padding: 0
    
        
