@import './variables';
@import './box';
@import './flex';
@import './text';
@import './color';
@import './position';
@import './wx-components';
html {
    font-family:$primaryFamily
}
// full-screen start
.select 
    padding: 5px
    margin: 0 .5rem
    background: $secondBgColor
    color $primaryColor
    // font-size: 20px
    border: 1px solid $primaryColor
    box-shadow: $primaryBoxShadow
.select option
    padding:  10px
    font-size: 14px
.rotate-180
    display inline-block
    transform: rotate(180deg)
    
.shadow
    box-shadow: $primaryBoxShadow

.warning-title
    font-size:16px;
    font-weight:500;
    color:$warning
    line-height:22px;
.warning-title:before
    content: ''
    display inline-block
    line-height:22px;
    margin-right: $primaryPadding
    width:10px;
    height:10px;
    border-radius: 50%
    background:$warning
.bottom-line
    border-bottom: solid 1px $tabBorderColor

.country-label
    color #ffeb3b
.country-label:hover
    color $primaryColor
.pointer
    cursor pointer


.point-con
    position relative
    // text-align: center
    .point-avatar
        width:40px;
        height:40px;
        border-radius: 50%
        border:1px solid rgba(151,151,151,1);
    .point-content
        visibility hidden
        position absolute
        top -110px
        left -100px
        width: 200px
        height 66px
        margin: 10px 0
        border-radius: 4px
        line-height: 24px
        background #041149
        //  linear-gradient(180deg,$linearBgTop,$linearBgMiddle,$linearBgBottom);

.point-con:hover
    .point-show
        visibility visible
        