

.holder_right {
    text-align: right 
    }
.list_input 
    text-align: right 
.pre-wrap
    white-space: pre-wrap
.white
  color white
.font32
   font-size 32px
.font16
   font-size 16px
.font14
   font-size 14px
.font12
   font-size 12px
.font28
   font-size 28px
.font24
   font-size 24px
.font48
   font-size 48px
.font34
   font-size 34px
.font26
   font-size 26px
.line45
   line-height 45px
.text-center
   text-align: center
.weight600
   font-weight: 600