// 公共引入css变量文件
// @import '~@src/styles/variables.styl'

$primaryColor = #17E0FF
$primaryFontColor = #5889FF 
$primaryBgColor = #0048F0
$secondBgColor = #041149
$warning = #FFAD02

$headerImgOffset = 100px
$floatBoxMargin = 20px

$leftBoxIndex = 3
$leftHeight = 700px
$bottomBoxIndex = 2
$headerImgIndex = 3
$selectorIndex = 4

$mapMaskIndex = 2

$pointContentIndex = 999
$pointIndex = 8

$primaryBoxShadow = 0px 0px 12px 0px rgba(122,180,255,1)
$success= #52BE57
$error = #FD6737

$primaryFamily = PingFangSC-Medium,PingFang SC


$primaryPadding = 15px
$primaryMargin = 15px

$boxMargin = 5px
$boxPadding = $boxMargin

$primaryBorderColor = #E5E5E5

$tabBorderColor = #005AF0

// float box bg
// $linearBgTop = rgba(8, 8, 9, 0.6) 0%
// $linearBgMiddle = rgba(0,72,240,.9) 100%
// // $linearBgMiddle = #30384b 51%
// $linearBgBottom = rgba(0,72,240,.6) 100%


$linearBgTop = rgba(0,57,188,0.6) 0%
$linearBgMiddle = #80828740 51%
// $linearBgBottom = rgba(0,72,240,.1) 100%
$linearBgBottom = rgba(0,72,240,0.6) 100%
   //  background:linear-gradient(180deg,,,);


negative(a)
   - a