
$arrowSize = 24px
.container
    position absolute
    bottom: $floatBoxMargin
    z-index $bottomBoxIndex
    left 0
    right 0
    width: 90%
    margin: auto
    padding: 2rem 1rem
    background-image: url('~@src/assets/bottom-bg.png')
    background-size: 100% 100%
    background-repeat: no-repeat
    .arrow
        position absolute
        right: 47.59%;
        top: 13px;
        bottom: 0
        height 30px
        width: 80px
        text-align: center
        color $primaryColor
        line-height: 30px
        // background rgba(0,72,240,0.6)
        // border-radius:0 10% 10% 0;
        // box-shadow:$primaryBoxShadow;
.con
    // height 300px
    overflow hidden
    transition: height  .2s linear
    padding: $primaryPadding
   
    // background:linear-gradient(180deg,$linearBgTop,$linearBgMiddle,$linearBgBottom);
    // box-shadow:$primaryBoxShadow;
    // border-radius:2px 2px 0px 12px;
    // border:1px solid rgba(51,183,255,1);
    .bar
        width:1px;
        height:256px;
        margin:0 2rem
        background: #1F4564
.con-hide
    height 20px
    overflow hidden
    padding 0
    .arrow
      top: -5px;

    

        
