#app
    height 1080px
    width: 1920px
    transform-origin: 0 0
    // position absolute
    // top 0
    // left 0
    .selector
        position absolute
        right 5%
        
        top:  $headerImgOffset
        z-index $selectorIndex
.header-img
    position absolute
    top: 0
    z-index $headerImgIndex
    width: 100%
    background:  linear-gradient(0,rgb(0, 72, 240,1) 0%,rgb(4, 17, 73,1) 40%);


@keyframes loading {
    0%{transform: rotate(0) ;}
    100%{transform: rotate(180deg) ;}
    }
