#app
    height 1080px
    width: 1920px
    transform-origin: 0 0
    // position absolute
    // top 0
    // left 0
    .map
        height: 100%;
        position relative
        .map-mask
            position absolute
            left 0
            top: 0
            width: 100%
            height 100%
            z-index $mapMaskIndex
            pointer-events: none
            background-image:linear-gradient(180deg, rgba(34,32,32,0.54) 10%, rgba(73,78,77,0.03) 20%, rgba(69,68,67,0.039) 80%, rgba(15,15,16,0.85)), linear-gradient(135deg, rgba(34,32,32,0.89) 10%, rgba(223,234,232,0.15) 20%, rgba(69,68,67,0.039) 80%, rgba(23,23,27,0.239)), linear-gradient(90deg, rgba(34,32,32,0.5) 10%, rgba(180,194,194,0.06) 20%, rgba(88,86,77,0) 80%, rgba(27,28,28,0.7)), linear-gradient(45deg, rgba(34,32,32,0.42) 10%, rgba(229,238,236,0.12) 20%, rgba(69,68,67,0.039) 80%, rgba(23,23,27,0.549))
    .selector
        position absolute
        right 5%
        
        top:  $headerImgOffset
        z-index $selectorIndex
.header-img
    position absolute
    top: 0
    z-index $headerImgIndex
    width: 100%
    background:  linear-gradient(0,#0048f01c,rgb(4, 17, 73,1) 40%);


@keyframes loading {
    0%{transform: rotate(0) ;}
    100%{transform: rotate(180deg) ;}
    }
